<!DOCTYPE html>
<html>

<head>
    <title> Login Page </title>
    <style>
        Body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: rgb(204, 230, 228);
            justify-content: center;
            align-items: center;
        }

        button {
            background-color: #4CAF50;
            width: 100%;
            color: rgb(160, 104, 0);
            padding: 15px;
            margin: 10px 0px;
            border: none;
            cursor: pointer;
        }

        form {
            border: 3px solid #f1f1f1;
            width: fit-content;
            margin-left: 25%;
            margin-right: 25%;
            display: inline-block;
            text-align: left;
        }

        input[type=text],
        input[type=password] {
            width: 100%;
            margin: 8px 0;
            padding: 12px 20px;
            display: inline-block;
            border: 2px solid green;
            box-sizing: border-box;
        }

        button:hover {
            opacity: 0.7;
        }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            margin: 10px 5px;
        }


        .container {
            padding: 25px;
            background-color: lightblue;
        }
    </style>
</head>

<body>
    <center>
        <h1> WearHealth License System </h1>
    </center>
    <form id="login_form" action="/login" method="POST">
        <div class="container">
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
            <!-- <input type="checkbox" checked="checked"> Remember me -->
            <button type="button" class="cancelbtn"> Cancel</button>
            <a href="/registration_view"> No account yet?</a>
        </div>
    </form>
</body>

</html>